HOST=localhost
PORT=3000

# Bakong API Credentials
BAKONG_EMAIL=your-bakong-email@gmail.com
BAKONG_ORGANIZATION=Your Organization Name
BAKONG_PROJECT=Your Project Name

# Bakong API Configuration
BAKONG_ACCESS_TOKEN=your-jwt-token-here
BAKONG_TOKEN_EXPIRY=your-token-expiry-timestamp #Convert to Unix timestamp Example: 1700000000
BAKONG_BASE_URL=https://api-bakong.nbc.gov.kh

# Merchant Information
BAKONG_ACCOUNT_ID=your-account@bank-code
MERCHANT_NAME=Your Merchant Name
ACQUIRING_BANK=Your Bank Name
MERCHANT_CITY=City Name
MOBILE_NUMBER=+855xxxxxxxxx